In [1]:
from pprint import pprint

import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import beemoviescript as bee

# from prepare import basic_clean, lemmatize

In [2]:
document = bee.document
# clean up the text
document = document.lower().replace(',', '').replace('.', '').replace('-','')
# transform into a series
words = pd.Series(document.split())

# From the Series we can extract the value_counts, which is our raw count
# for term frequency. Once we have the raw counts, we can calculate the
# other measures.
(pd.DataFrame({'raw_count': words.value_counts()})
.assign(frequency=lambda df: df.raw_count / df.raw_count.sum())
.assign(augmented_frequency=lambda df: df.frequency / df.frequency.max()))

           raw_count  frequency  augmented_frequency
you              259   0.028294             1.000000
the              258   0.028184             0.996139
a                258   0.028184             0.996139
i                237   0.025890             0.915058
to               191   0.020865             0.737452
...              ...        ...                  ...
you?!              1   0.000109             0.003861
goodness!          1   0.000109             0.003861
lust               1   0.000109             0.003861
jealousy           1   0.000109             0.003861
rehearsal          1   0.000109             0.003861

[2198 rows x 3 columns]

In [3]:
words = (pd.DataFrame({'raw_count': words.value_counts()}).assign(frequency=lambda df: df.raw_count / df.raw_count.sum()).assign(augmented_frequency=lambda df: df.frequency / df.frequency.max()))
words

           raw_count  frequency  augmented_frequency
you              259   0.028294             1.000000
the              258   0.028184             0.996139
a                258   0.028184             0.996139
i                237   0.025890             0.915058
to               191   0.020865             0.737452
...              ...        ...                  ...
you?!              1   0.000109             0.003861
goodness!          1   0.000109             0.003861
lust               1   0.000109             0.003861
jealousy           1   0.000109             0.003861
rehearsal          1   0.000109             0.003861

[2198 rows x 3 columns]

In [6]:
words.head(20)
#get rid of stop words
#what I have just noticed as well is that the words are the index

      raw_count  frequency  augmented_frequency
you         259   0.028294             1.000000
the         258   0.028184             0.996139
a           258   0.028184             0.996139
i           237   0.025890             0.915058
to          191   0.020865             0.737452
it          135   0.014748             0.521236
of          134   0.014638             0.517375
is          110   0.012017             0.424710
this        108   0.011798             0.416988
and         108   0.011798             0.416988
what         91   0.009941             0.351351
in           83   0.009067             0.320463
we           83   0.009067             0.320463
i'm          79   0.008630             0.305019
that         78   0.008521             0.301158
have         75   0.008193             0.289575
your         74   0.008084             0.285714
all          73   0.007975             0.281853
it's         71   0.007756             0.274131
do           64   0.006991             0.247104

In [12]:
words.tail(20)

             raw_count  frequency  augmented_frequency
hercules             1   0.000109             0.003861
mighty               1   0.000109             0.003861
bet                  1   0.000109             0.003861
cousin               1   0.000109             0.003861
science              1   0.000109             0.003861
limit                1   0.000109             0.003861
seventyfive          1   0.000109             0.003861
know?                1   0.000109             0.003861
circular?            1   0.000109             0.003861
save                 1   0.000109             0.003861
'n'                  1   0.000109             0.003861
pic                  1   0.000109             0.003861
creep!               1   0.000109             0.003861
bothering            1   0.000109             0.003861
bug                  1   0.000109             0.003861
you?!                1   0.000109             0.003861
goodness!            1   0.000109             0.003861
lust                 1   0.000109             0.003861
jealousy             1   0.000109             0.003861
rehearsal            1   0.000109             0.003861

In [11]:
words.head(20).T

,you,the,a,i,to,it,of,is,this,and,what,in,we,i'm,that,have,your,all,it's,do
raw_count,259.000000,258.000000,258.000000,237.000000,191.000000,135.000000,134.000000,110.000000,108.000000,108.000000,91.000000,83.000000,83.000000,79.000000,78.000000,75.000000,74.000000,73.000000,71.000000,64.000000
frequency,0.028294,0.028184,0.028184,0.025890,0.020865,0.014748,0.014638,0.012017,0.011798,0.011798,0.009941,0.009067,0.009067,0.008630,0.008521,0.008193,0.008084,0.007975,0.007756,0.006991
augmented_frequency,1.000000,0.996139,0.996139,0.915058,0.737452,0.521236,0.517375,0.424710,0.416988,0.416988,0.351351,0.320463,0.320463,0.305019,0.301158,0.289575,0.285714,0.281853,0.274131,0.247104